body{font-family: Inter;}
h1{font-weight: normal;}
img{
    border-radius: 4px;
    height: auto;
    max-width: 50%;
}

body
{
    margin: 0;
    padding: 0;
    background-color: 5B75D1;
}

@media(min-width:1920px)
{
    .signup-form
    {
        width: 30%;
        box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
        background: #D9D9D9;
        padding: 20px;
        margin: 4% auto 0;
        text-align: center;
        align-content: center;
    }
}

@media(max-width:1920px)
{
    .signup-form
    {
        width: 30%;
        box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
        background: #D9D9D9;
        padding: 20px;
        margin: 2% auto 0;
        text-align: center;
        align-content: center;
    }
}

@media(max-width:1080px)
{
    .signup-form
    {
        width: 40%;
        box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
        background: #D9D9D9;
        padding: 20px;
        margin: 2% auto 0;
        text-align: center;
        align-content: center;
    }
}

@media(max-width:720px)
{
    .signup-form
    {
        width: 60%;
        box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
        background: #D9D9D9;
        padding: 20px;
        margin: 4% auto 0;
        text-align: center;
        align-content: center;
    }
}


button
{
    color: FFFFFF;
    width: 25%;
    padding: 10px;
    border-radius: 5px;
    font-size: 15px;
    margin: 0;
    cursor: pointer;
}

.signup-button
{
    border: 0;
    background-color: 184FEE;
}